<body bgcolor="#ffe6e6">
	<form>
		<div class="panel panel-default">
			<div class="panel-heading">Employment Details</div>
			<div class="panel-body">
				<table align="center">
		
						<tr>
							<td><label align=center>Employment Nature</label></td>
							<td><input type="radio" ng-model="customer.empNature"
								value="SC" name="empNature" /> Salaried <input type="radio"
								ng-model="customer.empNature" value="ST" name="empNature" />
								SelfEmployed</td>
						</tr>
						<tr>
							<td><label align=center>Designation</label></td>
							<td><input type="text" placeholder="Enter Designation"
								ng-model="customer.designation"></td>
						</tr>
						<tr>
							<td><label align=center>Department</label></td>
							<td><input type="text" placeholder="Enter Department"
								ng-model="customer.department"></td>
						</tr>
						<tr>
							<td><label align=center>Name of Employer/Business</label></td>
							<td><input type="text"
								placeholder="Enter Name of Employer/Business"
								ng-model="customer.ebName"></td>
						</tr>
						<tr>
							<td><label align=center>Nature of Organization</label></td>
							<td><input type="radio" ng-model="customer.organization"
								value="SC" name="organization" /> GOVT <input type="radio"
								ng-model="customer.organization" value="ST" name="organization" />
								Public Ltd. <input type="radio" ng-model="customer.organization"
								value="OBC" name="organization" /> Pvt Ltd. <input type="radio"
								ng-model="customer.organization" value="General"
								name="organization" /> MNC <input type="radio"
								ng-model="customer.organization" value="Others"
								name="organization" /> Patnership <input type="radio"
								ng-model="customer.organization" value="Others"
								name="organization" /> Others</td>
						</tr>
						
						<!-- <td><label align="center">Period in current Employement/Business</label>
						<td><input type="number" ng-model="size" name="size"  min="0" max="100" integer />{{size}}</td>
						</tr> -->
						<tr>
							<td><label> Period in current Employement/Business </label></td>
							<td><input type="number" ng-model="customer.CurrentEmpYears" name="years"  min="0" max="100" integer />
							<label> Years </label>
							<input type="number" ng-model="customer.CurrentEmpMonths" name="Months"  min="0" max="12" integer />
								<label> Months </label></td>
						</tr>
						<tr>
							<td><label>Total Employement/Business Period </label></td>
							<td><input type="number" ng-model="customer.TotalEmpYears" name="years"  min="0" max="100" integer />
							<label> Years </label>
							<input type="number" ng-model="customer.TotalEmpMonths" name="Months"  min="0" max="12" integer />
								<label> Months </label></td>
						</tr>
						<!--Employer  Office address -->
						<tr>
							<td><label align=center><b>Address of Employer</b></label></td>

						</tr>
						<tr>
							<td><label align=center>D.No*</label></td>
							<td><input type="text" placeholder="Enter House Number"
								ng-model="customer.dno"></td>
						</tr>
						<tr>
							<td><label align=center>Street Name</label></td>
							<td><input type="text" placeholder="Enter Street Name"
								ng-model="customer.streetName"></td>
						</tr>
						<tr>
							<td><label align=center>city</label></td>
							<td><input type="text" placeholder="Enter City"
								ng-model="customer.city"></td>
						</tr>
						<tr>
							<td><label align=center>State</label></td>
							<td><input type="text" placeholder="Enter State"
								ng-model="customer.State"></td>
						</tr>
						<tr>
							<td><label align=center>Country</label></td>
							<td><input type="text" placeholder="Enter Country"
								ng-model="customer.country"></td>
						</tr>
						<tr>
							<td><label align=center>Land Mark*</label></td>
							<td><input type="text" placeholder="Nearest LandMark"
								ng-model="customer.landMark"></td>
						</tr>
						<tr>
							<td><label align=center>Pincode*</label></td>
							<td><input type="text" placeholder="Pincode"
								ng-model="customer.pincode"></td>
						</tr>
						<tr>
							<td><label align=center>Mobile Number*</label></td>
							<td><input type="text" placeholder="Enter Mobile Number"
								ng-model="customer.mobile"></td>
						</tr>
						<tr>
							<td><label align=center>Personal Email*</label></td>
							<td><input type="text" placeholder="Enter Email"
								ng-model="customer.email"></td>
						</tr>
						<!-- My stuff start -->


						<!-- <tr>
				<td><label> Years	</label></td>
				<td> 
				 	
 		 		<select name="singleSelect" ng-model="customer.singleSelect">
						<option value="">--Years--</option>
						<div data-ng-repeat="i in 1 .. 100">
						<option value={{i}}>{{i}}</option>
						</div>
						</select>
				<div ng-controller="YearsDropDownCtrl">
				<select ng-options=" a as i for i in [1,2,3..100]" ng-model="selectedvalue">{{a}}</select> selected is {{selectedvalue}}
				</div>
				</td>
			</tr> -->

						<!-- My stuff End -->

					</table>
			</div>
		<div class="panel-footer" align="center">
					<button ng-click="back()" class="btn-primary"
						ng-class="{'button-hidden':checkNextBack()}">< Back</button>

					<button ng-click="edit()" class="btn-primary"
						ng-class="{'button-hidden':checkEdit()}" align="center">Edit</button>
					<button ng-click="next()" class="btn-primary"
						ng-class="{'button-hidden':checkNextBack()}">Next ></button>
				</div>
	</form>
</body>
</html>