<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">Home</div>
			<div class="panel-body">
				<p>This is the application developed to demonstrate the capabilities of Angular to the freshers of WestPAC</p>
			</div>
			<div class="panel-footer" align="center">
				<button ng-click="back()" class="btn-primary">< Back</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button ng-click="next()" class="btn-primary">Next ></button>
			</div>
		</div>
</body>
</html>