<body>
<fieldset name="reviewFieldSet" disabled>
	<div class="tab-content" align="center">
		 <div name="personalFields" ng-include='"html/personalDetails.html"' ></div>
		<div ng-include='"html/contactsDetails.html"' ></div>
		<div ng-include='"html/employmentDetails.html"' ></div>
		<div ng-include='"html/financialDetails.html"' ></div>
	</div>
	<!-- <!-- <div>
		<div class="panel panel-default">
		 <div class="panel-heading">Personal Details</div> 
		 <div class="panel-body">
		  <div ng-include='"html/personalDetails.html"' ></div>
		 </div>
		 <div class="panel-footer" align="center">
		  <button ng-click="back()" class="btn-primary" align="center">EDIT</button>
		 </div>
	</div>
	<div>
		<div class="panel panel-default">
		 <div class="panel-heading">Contact Details</div> 
		 <div class="panel-body">
		  <div ng-include='"html/contactsDetails.html"' ></div>
		 </div>
		 <div class="panel-footer" align="center">
		  <button ng-click="back()" class="btn-primary" align="center">EDIT</button>
		 </div>
	</div>
	<div>
		<div class="panel panel-default">
		 <div class="panel-heading">Employment Details</div> 
		 <div class="panel-body">
		  <div ng-include='"html/employmentDetails.html"' ></div>
		 </div>
		 <div class="panel-footer" align="center">
		  <button ng-click="back()" class="btn-primary" align="center">EDIT</button>
		 </div>
	</div>
	<div>
		<div class="panel panel-default">
		 <div class="panel-heading">Financial Details</div> 
		 <div class="panel-body">
		  <div ng-include='"html/financialDetails.html"' ></div>
		 </div>
		 <div class="panel-footer" align="center">
		  <button ng-click="back()" class="btn-primary" align="center">EDIT</button>
		 </div>
	</div> --> 
</fieldset>
<div>
	<div class="panel-footer" align="center">
		  <button ng-click="submit()" class="btn-primary" align="center">submit</button>
		 </div>
</div>
	
</body>
</html>